@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --blue: #003D59;
    // --yellow: #FFC864;
    --yellow: #ffe48e;
}

// #006450

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font-primary : 'Libre Baskerville',
serif;
$font-secondary: 'Poppins',
sans-serif;

$primary: #003D59;


@mixin trans($speed: 0.3s) {
    transition: all $speed ease-in-out;
}


html {
    font-size: 62.5%;
}

@media (min-width: 992px) {

    html {
        //font-size: 80%;
    }

    .container-fluid {
        padding-left: 8rem;
        padding-right: 8rem;
    }


}

body {
    font-family: $font-secondary;
    font-size: 1.6rem;
    color: #000;

    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

h1,
h2,
h3 {
    font-family: $font-primary;
    font-size: 5rem;
    margin: 0;
}


%a-link {
    text-decoration: none;
    position: relative;
    @include trans;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        height: 2px;
        bottom: -2px;
        width: 100%;
        background-color: #fff;
        transition: 0.2s ease-in-out;
    }

    &:hover,
    &:focus {
        opacity: 0.4 !important;

        &::after {
            width: 0;

        }
    }
}

.text-center {
    text-align: center;
}

.title {
    font-size: 2.4rem;
    //margin: 0 0 3rem 0;
    margin: 0 0 2rem 0;

    span {
        span {
            padding-left: 0.5rem;
            opacity: 0.4;
        }
    }
}

.btn-dark {
    border-color: $primary;
    color: $primary;
}


@media (min-width:992px) {
    section {
        padding-bottom: 12rem;
    }
}

.pb-6 {
    padding-bottom: 6rem;
}

.pb-4 {
    padding-bottom: 4rem;
}



/**** Header ****/

nav {
    padding-top: 4rem;

    .logo {
        color: var(--black);
        font-weight: 900;
        text-decoration: none;
        font-size: 3rem;
    }

    .back-btn {
        color: var(--black);
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 400;
        margin-top: 1rem;
        display: inline-flex;
        @include trans;

        &:focus,
        &:hover {
            opacity: 0.4 !important;

        }
    }
}

#intro-section {
    margin-top: 12rem;

    h1 {
        margin: 0;
        font-size: 7rem;
        color: var(--black);
        font-weight: 600;
        padding: 0 0 3rem 0;
        box-sizing: 10px 10px 4px 4px rgba(0, 0, 0, 0.9);
    }

    p, ul, li, ol {
        color: var(--black);
        font-size: 2rem;
        padding: 0 0 0 0.3rem;
    }
    ul, ol{
        margin: 1rem 0 2rem 3rem;
    }

}

.job-description{
    p{
        margin: 0 0 3rem 0;
    }
}
.img-job{
    margin-top: 3rem;
}

@media (min-width: 992px) {
    #intro-section {
        .img-left {
            margin: 10rem 0 0 0;
        }

        .img-right {
            margin: -4rem 0 0 0;
        }
    }
}




/**** Breadcrumb ****/

.breadcrumb {
    background: none;
    margin: 2rem 0 0 0;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-flex;
            padding-right: 1.4rem;

            &:last-child {
                padding-left: 1.2rem;
            }

            a {
                text-decoration: none;
                color: var(--black);
            }
        }
    }
}




/**** Culture Section ****/

#culture-section {
    margin-top: 10vw;

    .top-text {
        font-family: $font-primary;
        font-size: 3.8rem;
        line-height: 1em;
        margin: 0 2rem 0 0;
    }

    .bottom-text {
        max-width: 350px;
        margin: 4rem 0 2rem 0;
        line-height: 1em;
    }

    .xs-img {
        margin: 14rem auto 0 auto;
    }
}

@media (min-width: 992px) {
    #culture-section {
        .bottom-text {
            margin: 12rem 0 0 auto;
        }
    }
}




/**** Benefits Section ****/

#benefits-section {
    .img-wrapper {
        margin-top: 16rem;
    }

    .benefits {
        margin: 8rem 0 2.5rem 0.2rem;
        list-style: none;

        li {
            padding-bottom: 2rem;

            svg {
                vertical-align: middle;
                //  padding-right: 2rem;
            }
        }
    }
}





/**** Featured Section ****/

#featured-section {

    padding: 12rem 0;

    h5,
    h2 {
        color: var(--white);
    }


    .job-list {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding-bottom: 4rem;
        margin-bottom: 2rem;

        .job-item {
            .job-title {
                padding-bottom: 1rem;

                a {
                    color: var(--white);
                    text-decoration: none;
                    font-size: 2.4rem;
                }
            }

            .categories {
                color: var(--white);
                opacity: 0.4;
                padding-bottom: 1rem;
            }

            .read-more {
                a {
                    color: var(--white);
                    @extend %a-link;
                }
            }
        }
    }

}


@media (min-width: 992px) {


    #featured-section {
        .img-1 {
            max-width: 280px;
            margin-top: 8rem;
        }

        .img-2 {
            max-width: 265px;
            margin-top: -5rem;
        }
    }
}













/**** Call to Action Section ****/

.cta-banner {
    //height: 50vh;
    padding-top: 8rem;
    padding: 14rem 0;

    h1 {
        margin: 0;
        font-size: 4rem;
        color: var(--white);
        font-weight: 400;
        padding: 0 0 5rem 0;
    }

    h3 {
        color: var(--white);
        opacity: 0.4;
        font-size: 3.8rem;
        margin-bottom: 3rem;
    }

}

@media (min-width: 992px) {
    .cta-banner {
        padding: 14rem 0;
        //height: 70vh;

        h1 {
            font-size: 7rem;
        }
    }
}



/**** Gallery Section ****/

#gallery-section {

    h5,
    h2 {
        color: var(--white);
    }

    .gallery {
        width: 200%;
        height: 100vh;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;

        //overflow-y: hidden;

        .gallery-item {
            height: 100vh;
            // width: 40vw;
            width: 35%;
            display: flex;
            padding: 0 4rem;
            justify-content: center;
            align-items: center;

        }
    }
}










/**** Image Animation ****/

.img-wrapper {
    //margin: 20% 0;
    //width: 70%;
    position: relative;

    &:nth-child(even) {
        margin-right: 0;
        margin-left: auto;
    }

    .img-animate {
        visibility: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            transform-origin: left;
            object-fit: cover;
        }
    }
}

/**** Text Animation ****/


.line {
    display: inline;
}


@media (min-width: 992px) {
    .line {
        width: 100%;
        height: 50px;
        position: relative;
        overflow: hidden;
        display: inline-flex;

        span {
            position: absolute;
        }
    }

    .line-xs {
        height: 30px !important;
    }

    .line-sm {
        height: 40px !important;
    }

    .line-md {
        height: 60px !important;
    }

    .line-lg {
        height: 80px !important;
    }

    .intro-text {
        .line {
            height: 45px !important;
        }
    }

}












/**** Footer ****/

footer {
    padding: 4rem 0;

    .logo-footer {
        color: var(--white);
        font-size: 2rem;
        font-weight: 900;
    }

    a {
        text-decoration: none;
        color: var(--white);

        &:hover,
        &:focus {
            color: var(--white);
            text-decoration: none;
            opacity: 0.4;
        }

    }
}




























.translate-moari {
    cursor: help;
    position: relative;
    display: inline-flex;

    .tranlate-eng {
        display: none;
        position: absolute;
        background-color: rgba($color: #fff, $alpha: 0.9);
        color: #000;
        top: 0;
        width: 100%;

    }

    &:hover {
        .tranlate-eng {
            display: block;
        }
    }

}



.xs-img {
    max-width: 300px;
}