// font
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$font:'Poppins',
sans-serif;

// colour
$base : #003D59;
$base2 : #003D59;


@mixin trans($speed: 0.3s) {
    transition: all $speed ease-in-out;
}

a {
    color: $base;
    @include trans;

    &:hover {
        color: $base2;
    }
}

button,
.btn {
    background: $base;
    border: 1px solid $base;
    color: #fff;

    border-radius: 50px;
    padding: 2rem 6rem;

    font-size: 2rem;
    font-weight: 400;

    text-decoration: none;
    text-transform: none;

    @include trans;

    &::after {
        content: none;
        padding-left: 2rem;
        @include trans;
    }

    &:hover,
    &:focus {
        background: $base;
        color: #fff;
        border-color: rgba($color: #fff, $alpha: 0.4);

        &::after {
            content: "\203A";
        }
    }
}

.btn-outline {
    border-color: #fff;
    background: transparent;
}

.right {
    text-align: right;
}

// header
.logo {
    img {
        width: 200px;
    }
}

// login
.login-area {
    text-align: right;
}

/// tas
@import 'tas-vanilla';

// main
.main {
    padding-top: 75px;
    padding-bottom: 75px;
}

.snaphire {
    margin: 0 30px 0 0;

    h1 {
        margin: 0 0 20px;
        font-weight: 900;
        font-size: 42px;
        text-transform: uppercase;
    }
}

/// jobs
.snaphire {
    .jobItem {
        .title {
            a {
                color: $base;
                font-size: 24px;
            }
        }
    }
}

.jobItem {
    border-bottom: 1px solid $base;
}

.desc-wrapper {
    span {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAFUlEQVQ4jWNgGAXDBFRQiEfBKGAAACmAB4GapwGwAAAAAElFTkSuQmCC) no-repeat right center;
    }
}

.page-links {
    span {
        a {
            background: $base;
            padding: 3px 10px;
            border-radius: 12px;

            &:hover {
                background: $base2;
                color: #fff;
            }
        }
    }

    .selected {
        padding: 3px 10px;
        border-radius: 12px;
    }

    >div {
        >a {
            display: none;
        }
    }
}

// sidebar
/// search
#search-form {
    h2 {
        margin: 0 0 20px;
        text-transform: uppercase;
    }

    .formLabel {
        label {
            font-weight: 400px !important;
            color: #333;
        }
    }
}

// footer
.footer {
    padding-top: 30px;
    padding-bottom: 60px;
    background: $base;
    color: #fff;

    a {
        color: #fff;
    }
}